.wrapper {
    margin: 0 auto;
    max-width: 1920px;
}

main {
    padding: 1rem;
    background-color: darkgreen;
    color: antiquewhite;
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background-color:brown;
    color:antiquewhite;
}

h1 {
    text-align: center;
    font-size: 250%;
    padding: .5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    text-align: center;
    padding: 1rem;
}

h2 {
    text-align: center;
    font-style: italic;
    padding: 1rem;
}

footer {
    clear: both;
    text-align: center;
    background-color: antiquewhite;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    background-color:antiquewhite;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav a {
    color:brown;
}

nav a:hover {
    color:darkgreen;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

nav li {
    padding: 1rem;
    list-style-type: none;
}

footer ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

footer li {
    padding: 1rem;
    list-style-type: none;
}

img {
    display: block;
    width: 600px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid antiquewhite;
}

.events-list {
    padding: 1rem;
    line-height: 1.5;
    text-align: center;
    list-style-type: none;
}